# NOTE: 本番環境では .dev.vars で定義された VITE_ で始まる環境変数が import.meta.env で読み込める
#       clerk の getAuth 関数では、環境変数の読み込む優先度が import.meta.env > context/clodflare.env であるため、
#       VITE_ 接頭辞で始まる本番環境用の環境変数は .dev.vars で定義する。
#       それ以外の環境変数については README.md を参照。

# Clerk 
VITE_CLERK_PUBLISHABLE_KEY=pk_live_xxxxxxxxxxxxxxxxxxxxxxx
