# base
APP_ENV=local
APP_VERSION=0.0.1

# remix-auth
SESSION_SECRET=""

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
DATABASE_URL=

# Cloudflare
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

# Clerk 
CLERK_SECRET_KEY=
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_WEBHOOK_SIGNING_SECRET=

# ローカル開発用 ngrok
ALLOWED_HOSTS=