# base
APP_ENV=local
APP_VERSION=0.0.1

# remix-auth
SESSION_SECRET=""

# Supabase
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=eyxxxxxxxxxxxxxx
DATABASE_URL=

# Cloudflare
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

# Clerk 
CLERK_SECRET_KEY=sk_xxxxxxxxxxxxxxxxxxxxxxxx
VITE_CLERK_PUBLISHABLE_KEY=pk_xxxxxxxxxxxxxxxxxxxxxxxx
CLERK_WEBHOOK_SIGNING_SECRET=whec_xxxxxxxxxxxxxxxxxxxxxx

# ローカル開発用 ngrok
ALLOWED_HOSTS=xxxxxxxxxx.ngrok-free.app