DATABASE_URL="postgresql://postgres.xxxxxxxx:aaaaaaaaa@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres"
KAMAL_REGISTRY_PASSWORD="dckr_xxxxx"
KAMAL_REGISTRY_USERNAME="murakami1007"
KAMAL_REGISTRY_IMAGE="murakami1007/pukusapo"
KAMAL_SERVER_IP_ADDRESS="xxx.xxx.xxx.xxx"
